<h2 align = "center"> Users of Alph Blog </h2>
<% if logged_in? %>
  <div align="center" class="row">
    <% @users.each do |u| %>
    <div class= "well col-md-4 col-md-offset-4 center">
      <ul class= "listing">
        <li><%= link_to gravatar_for(u), user_path(u) %> </li>
        <li class= "article-title"> <%= link_to u.username, user_path(u) %> </li>
        <li><small> <%= pluralize(u.articles.count, "article") if u.articles %></small></li>
      </ul>
    </div>
    <% end %>
  </div>
  <div align="center">
      <%= will_paginate %>
  </div>
<% else %>
  <% flash.now[:danger] = "You must be logged in to see users !" %>
<% end %>