$navbar-default-bg:black;

@import "bootstrap-sprockets";

@import "bootstrap";

body {
  margin-top: 70px;
  background-color:#ECF0F1;
}
.btn-danger {
  background-color:black;
}



#logo {
  float: left;
  font-size:1.7em;
  text-transform:uppercase;
  font-weight:bold;
}

#logo:hover {
  color:red;
}

.cen {
  text-align:center;
}

.cen {
  background-color: black;
  // background-image:asset-url('img.jpg');
  background-size:cover;
  height:500px;
}

.cen h1 {
  color:#fff;
  text-transform: uppercase;
  font-weight:bold;
  letter-spacing:-1px;
  margin:30px;
}

.btn-xlarge {
  font-size:2em;
}


#red:hover {
  color:red;
}

.des {
  margin-top:0px;
}

.article-action {
  border:1px solid #eaeaea;
  padding-top:5px;
  margin-top:10px;
}

.btn-indix {
  padding-right:20px;
  padding-left:20px;
  font-size:1em;
}

.article-title {
font-weight: bold;
font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details {
  border-top:2px solid #eaeaea;
  margin-top:10px;
}

.username {
  font-weight:bold;
  font-size:1.5em;
  text-transform:uppercase;
}


ul.listing {
  position: relative;
  left: 0px;
  list-style-type:none;
  padding:0px;
}
 ul.listing li {
  padding-right:16px;
  float: left;
  disply: inline-block;
 }


.delete_btn {
  margin-bottom:15px;
}

div.index {
  margin-top: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.art_show_username {
  margin: 15px 0px;
}

.admin {
  background-color: green;
}






// ---------------------------------------
footer {
  margin:10px;
  padding:5px;
  border-top:2px solid #eaeaea;
}

footer small{
  float:left;
}

footer ul {
  float:right;
  list-style:none;
}
footer ul li {
  float:center;
  margin-left:15px;
}
