<div class="container">
  <footer class= "footer">
      <samll>
        Copyright &copy; <a id = "red" href="qasemi.dx.am">Hafizullah Qasemi</a>
      </samll>
    <nav>
      <ul>
        <li> <%= link_to 'About', about_path, id: "red" %></li>
      </ul>
    </nav>
  </footer>
</div>