<div class="container">
  <footer class= "footer">
      <samll>
        Copyright &copy; <a id = "red" href="http://qasemi.dx.am">Hafizullah Qasemi</a>
      </samll>
    <nav>
      <ul>
        <li> <a href="http://qasemi.dx.am/#about"> About</a></li>
      </ul>
    </nav>
  </footer>
</div>